/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* HEADER */

.nav-link {
    color: rgb(19, 19, 19);
    font-size: 20px;
}

/* MAIN INDEX */

.position {
    margin-top: 112px;
}

a {
    text-decoration: none;
}

.bg-yellow {
    background-color: #f4eb49;
}

.size {
    width: 90%;
    text-align: justify;
}

.dona {
    width: 90%;
}

.marcador {
    width: 90%;
    object-fit: cover;
}

.position-2 {
    margin-top: 150px;
}

/* MAIN PROYECTO */

.p-project {
    text-align: justify;
}

.tablet {
    width: 90%;
}

.map {
    width: 90%;
    height: 900px;
}

.bg-sky-blue {
    background-color: #419bcf;
}

.video {
    width: 50%;
    height: 300px;
    align-items: center;
    object-fit: cover;
}

/* FOOTER */

.footer {
    display: block;
    font-size: 14px;
}

.footer li {
    display: inline-block;
    padding: 20px 0;
}

.footer-link {
    color: rgb(19, 19, 19);
}

@media screen and (max-width: 800px) {
    .map {
        height: 300px;
    }

    .video {
        width: 400px;
    } 
}