* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.nav-link {
    color: rgb(19, 19, 19);
}

.nav {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.nav-list {
    text-align: right;
}

.nav-list li {
    display: inline-block;
    margin: 40px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 8px;
}

.move {
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    width: 15%;
    padding: 10px;
}

/* MAIN */

p {
    padding: 5px;
}

.cabecera {
    padding-top: 110px;
    margin-bottom: 20px;
    width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    color: rgb(19, 19, 19);
    font-size: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    color: rgb(19, 19, 19);
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
}

.center {
    color: rgb(19, 19, 19);
    font-size: 36px;
    text-align: center;
    padding: 20px;
}

.welcome {
    text-align: center;
    padding-top: 50px;
}

.cuadrados {
    padding-top: 80px;
}

.iconos {
    color: rgb(19, 19, 19);
    font-size: 21px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 30px;
}

.normal {
    color: rgb(19, 19, 19);
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-bottom: 50px;
}

.justify {
    color: rgb(19, 19, 19);
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}

.border_radius {
    border-radius: 10px;
}

.hero {
    background-color: #f4eb49;
    padding: 80px 0;
}

.centro {
    text-align: center;
}
.download {
    padding: 10px;
}

/* FOOTER */

.footer {
    background-color: #f6f7f7;
    padding-bottom: 20px;
    text-align: center;
}

.footer li {
    padding: 80px;
    display: inline-block;
}

.footer-link {
    color: rgb(19, 19, 19);
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

.pfooter {
    color: rgb(19, 19, 19);
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}