/* MAIN ABOUT */

.bg-darkblue {
    background-color: $bg-color4;
    margin-top: 125px;

    .position-2 {
        margin-top: 150px;
    }   

    .bg-grey {
        background-color: $bg-color5;
        }
}




